<a href="https://colab.research.google.com/github/oluwaseyipetroz/PORTFOLIO-PROJECT/blob/main/Altschool_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst_name= ['OLUWANIFEMI','DARRRELYN','ADERINSOLA','FIYINFOLUWA','OLUWASEUNFUNMI','WURAOLA','AMOPE']

In [ ]:
lst_name

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE']

In [ ]:
lst_name.append('ADEBAYO')

In [ ]:
lst_name

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE',
 'ADEBAYO']

In [ ]:
lst_name.insert(0,'MY NAMES ARE')

In [ ]:
lst_name

['MY NAMES ARE',
 'OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE',
 'ADEBAYO']

In [ ]:
pop_lst_name= lst_name.pop(0)

In [ ]:
lst_name

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE']

In [ ]:
print(f"MY NAME IS ADEBAYO {lst_name}")

MY NAME IS ADEBAYO ['OLUWANIFEMI', 'DARRRELYN', 'ADERINSOLA', 'FIYINFOLUWA', 'OLUWASEUNFUNMI', 'WURAOLA', 'AMOPE', 'ADEBAYO']

In [ ]:
print(f"MY NAMES ARE {', '.join(lst_name)}")

MY NAMES ARE OLUWANIFEMI, DARRRELYN, ADERINSOLA, FIYINFOLUWA, OLUWASEUNFUNMI, WURAOLA, AMOPE, ADEBAYO

In [ ]:
upper_lst_name = [name.upper() for name in lst_name]
print(upper_lst_name)

['OLUWANIFEMI', 'DARRRELYN', 'ADERINSOLA', 'FIYINFOLUWA', 'OLUWASEUNFUNMI', 'WURAOLA', 'AMOPE', 'ADEBAYO']

In [ ]:
lst_name2= 'oluwaseyi'

In [ ]:
lst_name2

'oluwaseyi'

In [ ]:
lst_name2.upper()

'OLUWASEYI'

In [ ]:
origin= ['oyo','osun']

In [ ]:
origin

['oyo', 'osun']

In [ ]:
### CAPITALIZE ORIGIN
upper_origin=[name.upper() for name in origin]
print(upper_origin)

['OYO', 'OSUN']

# MONTH 2 - Organising list

In [ ]:
lst_name

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE']

### Organising list using sort method

In [ ]:
# sort by copy
lst_name_copy= lst_name.copy()

In [ ]:
lst_name_copy.sort()

In [ ]:
lst_name_copy

['ADERINSOLA',
 'AMOPE',
 'DARRRELYN',
 'FIYINFOLUWA',
 'OLUWANIFEMI',
 'OLUWASEUNFUNMI',
 'WURAOLA']

### sort temporarily using sorted

In [ ]:
sorted(lst_name)

['ADERINSOLA',
 'AMOPE',
 'DARRRELYN',
 'FIYINFOLUWA',
 'OLUWANIFEMI',
 'OLUWASEUNFUNMI',
 'WURAOLA']

In [ ]:
lst_name

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE']

In [ ]:
lst_name_copy

['ADERINSOLA',
 'AMOPE',
 'DARRRELYN',
 'FIYINFOLUWA',
 'OLUWANIFEMI',
 'OLUWASEUNFUNMI',
 'WURAOLA']

### reversing sort

In [ ]:
lst_name_copy.reverse()

In [ ]:
lst_name_copy

['WURAOLA',
 'OLUWASEUNFUNMI',
 'OLUWANIFEMI',
 'FIYINFOLUWA',
 'DARRRELYN',
 'AMOPE',
 'ADERINSOLA']

In [ ]:
lst_name_copy= lst_name.copy()

In [ ]:
lst_name_copy.sort()

In [ ]:
lst_name_copy

['ADERINSOLA',
 'AMOPE',
 'DARRRELYN',
 'FIYINFOLUWA',
 'OLUWANIFEMI',
 'OLUWASEUNFUNMI',
 'WURAOLA']

In [ ]:
lst_name_copy.sort(reverse=True)

In [ ]:
lst_name_copy

['WURAOLA',
 'OLUWASEUNFUNMI',
 'OLUWANIFEMI',
 'FIYINFOLUWA',
 'DARRRELYN',
 'AMOPE',
 'ADERINSOLA']

In [ ]:
num= [1,3,4,7,0,9,2,]

In [ ]:
num_copy= num.copy()

In [ ]:
num_copy.sort()

In [ ]:
num_copy

[0, 1, 2, 3, 4, 7, 9]

In [ ]:
# (reverse=True): This method flips back the elelments in opp order. i.e if it was in DESC, it changes it to ASC.
#result shown below!
num_copy.sort(reverse=True)

In [ ]:
num_copy

[9, 7, 4, 3, 2, 1, 0]

In [ ]:
num2= [1,3,4,7,0,9,2,]

In [ ]:
num2_copy= num2.copy()

In [ ]:
num2_copy.sort()

In [ ]:
num2_copy

[0, 1, 2, 3, 4, 7, 9]

In [ ]:
# using reverse() returns the elements to the original array. IT IS THE ORIGINAL UNDO
num2_copy.reverse()

In [ ]:
num2

[1, 3, 4, 7, 0, 9, 2]

In [ ]:
# Working with a list
num

[1, 3, 4, 7, 0, 9, 2]

In [ ]:
lst_name

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE']

In [ ]:
for name in lst_name:
  print(name)

OLUWANIFEMI
DARRRELYN
ADERINSOLA
FIYINFOLUWA
OLUWASEUNFUNMI
WURAOLA
AMOPE

In [ ]:
for name in lst_name:
  print(f"My name is {name}")
print('Daughter of Mr and Mrs Oluwaseyi Adebayo')

My name is OLUWANIFEMI
My name is DARRRELYN
My name is ADERINSOLA
My name is FIYINFOLUWA
My name is OLUWASEUNFUNMI
My name is WURAOLA
My name is AMOPE
Daughter of Mr and Mrs Oluwaseyi Adebayo

In [ ]:
lst_name.count('OLUWASEUNFUNMI')

1

In [ ]:
len(lst_name)

7

In [ ]:
lst_name

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE']

In [ ]:
num

[1, 3, 4, 7, 0, 9, 2]

In [ ]:
lst_name[0:]

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE']

In [ ]:
lst_name.append('ADEBAYO')

##### Slicing: picking elements at random from a list through indexing
##### method is done by using [:]

##### Slicing & Jumping: it is thesame as above but with this you can jump to another element, aslo with the use of index
##### [start:stop:jump no]

In [ ]:
#
lst_name[0:5]

['OLUWANIFEMI', 'DARRRELYN', 'ADERINSOLA', 'FIYINFOLUWA', 'OLUWASEUNFUNMI']

In [ ]:
lst_name[0::2]

['OLUWANIFEMI', 'ADERINSOLA', 'OLUWASEUNFUNMI', 'AMOPE']

In [ ]:
first_name= lst_name[0]
last_name= lst_name[-1]

In [ ]:
print(f"my name is {first_name} {last_name}")

my name is OLUWANIFEMI ADEBAYO

['OLUWANIFEMI',
 'DARRRELYN',
 'ADERINSOLA',
 'FIYINFOLUWA',
 'OLUWASEUNFUNMI',
 'WURAOLA',
 'AMOPE',
 'ADEBAYO']

## NUMBERS IN LIST
#range function

In [ ]:
del range
range(0,9)

range(0, 9)

In [ ]:
range(0,9)

range(0, 9)

In [ ]:
for x in range(0,9):
  print(x)

0
1
2
3
4
5
6
7
8

In [ ]:
lst4= list(range(0,10))

In [ ]:
lst4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lst3=list((1,2,3,4,5,6,7,8,))

In [ ]:
lst3

[1, 2, 3, 4, 5, 6, 7, 8]

#### LIST COMPREHENSION

In [ ]:
numba= [x**2 for x in range(1,11)]
print (numba)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numba1= range(1,11)
for x in numba1:
  print(x**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
numba

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numba1

range(1, 11)

In [ ]:
numba[0:4]

[1, 4, 9, 16]

In [ ]:
for x in numba[0:4]:
  print (x**2)

1
16
81
256

In [ ]:
numba_copy= numba.copy()

In [ ]:
numba_copy

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numba_copy= numba[:]

In [ ]:
numba_copy

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
range(0,20)

range(0, 20)

In [ ]:
# Convert the range object to a list before slicing
list(range(0,20))[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(0,20))[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
number= list(range(0,20))[:11]

In [ ]:
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
number_copy= number.copy()

In [ ]:
number_copy

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
number_copy= number[:]

In [ ]:
### Performing a math operation through a empty list
empty_list= []
for x in range(0,10):
  squared_value = x**2
  print(squared_value)

0
1
4
9
16
25
36
49
64
81

In [ ]:
empty_list= []
for x in range(0,10):
  updated_list= x**2
  empty_list.append(updated_list)
print(empty_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List comprehension

In [ ]:
emty_list= [x**2  for x in range(0,10)]
print(emty_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Nested List: a list that can contain other list

In [ ]:
nest_list= [list(range(0,6)), 'nifemi', 'darrelyn']
nest_list

[[0, 1, 2, 3, 4, 5], 'nifemi', 'darrelyn']

In [ ]:
nest_list[2]

'darrelyn'

In [ ]:
list_1 = [2,3, 'four', [20,30,40,['one', 'two', 'three']]]

In [ ]:
list_1[3][3][1:]

['two', 'three']

In [ ]:
list_1[3][3][1:3]

['two', 'three']

In [ ]:
list_1[3][3][0::2]

['one', 'three']

### IF Statement: this is a conditional statement and it is use to return results ehrn a condition is true and false

In [ ]:
lst =  'Nifemi', 30, 'September'

In [ ]:
lst

('Nifemi', 30, 'September')

In [ ]:
for x in lst:
  if x == 30:
    print(x+1)
  else:
      print(x)

Nifemi
31
September

In [ ]:
### IF statement without false condition
for x in lst:
  if x == 30:
    print('Happy Birthday Nifemi')

Happy Birthday Nifemi

#### Using multiple conditions through 'elif'

In [ ]:
lst1= 30, 40, 10, 20

In [ ]:
for x in lst:
  if x == 30:
    print('Happy Birthday Nifemi')
  elif isinstance(x, int) and x > 30: # Check if x is an integer before comparing
      print('month two loading')

Happy Birthday Nifemi

In [ ]:
for x in lst1:
  if x == 30:
    print('Happy Birthday Nifemi')
  elif x > 30:
      print('month two loading')
  else:
    print('less than 1')

Happy Birthday Nifemi
month two loading
less than 1
less than 1

### Checking for special items
### **Special items**: is a situation where we use "for loops" and "if" statement to look through a list and pick out special situation.
#### Using loop and if statement together

## Dictionary: just like list and tuple allows us to asign elements to a variable which can also contain key. it is created with {}

In [ ]:
job_opening= ['data analyst', 'data scientist', 'data engineer', 'data architect']
for job_opening in job_opening:
  if job_opening == 'data analyst':
    print(f'sorry, we are not hiring for a {job_opening}')
  else:
    print("we are hiring for a"+" "+ job_opening + ".")
print('Thank you for checking our job opening')

sorry, we are not hiring for a data analyst
we are hiring for a data scientist.
we are hiring for a data engineer.
we are hiring for a data architect.
Thank you for checking our job opening

In [ ]:
family = {'mum': 'damilola', 'age': 31, 'occupation': 'auditor'}

In [ ]:
family['mum'], family['age']

('damilola', 31)

### Modifying dictionary

In [ ]:
# adding to a dictionary
family['income'] = 120000

In [ ]:
family['occupation'] = 'auditor 2'

In [ ]:
family

{'mum': 'damilola', 'age': 31, 'occupation': 'auditor 2', 'income': 120000}

In [ ]:
family[]

In [ ]:
# "Change" the key 'mum' to 'mother'
family['job'] = family['occupation']
family

{'mum': 'damilola',
 'age': 31,
 'occupation': 'auditor 2',
 'income': 120000,
 'job': 'auditor 2'}

In [ ]:

family

{'mum': 'damilola', 'age': 31, 'income': 120000, 'job': 'auditor 2'}

In [ ]:
range(3)

range(0, 3)

## looping through a dictionary

> Add blockquote

In [ ]:
for key, value in family.items():
  print( key, "\n", value)

mum
 damilola
age
 31
occupation
 auditor

In [ ]:
for key, value in family.items():
  print(f"\nkey: {key}")
  print(f"value: {value}")

key: mum
value: damilola

key: age
value: 31

key: occupation
value: auditor

In [ ]:
# Looping through a keys
for key, value in family.items():
  print(f"\nkey name: {key}")

key name: mum

key name: age

key name: occupation

In [ ]:
# Looping through a value
for key, value in family.items():
  print(f"\nvalue name: {value}")

value name: damilola

value name: 31

value name: auditor

## Nesting

In [ ]:
# creating profile
profile1 = {'name' : 'oluwaseyi', 'role': ['father', 'playful', 'loving']}
profile2 = {'name' : 'damilola', 'role': 'mother'}
profile3 = {'name' : 'omolara', 'role': 'grandma'}

In [ ]:
# ceating list with profile
profile = [profile1, profile2, profile3]

In [ ]:
profile

[{'name': 'oluwaseyi', 'role': 'father'},
 {'name': 'damilola', 'role': 'mother'},
 {'name': 'omolara', 'role': 'grandma'}]

In [ ]:
for x in profile:
  print(x)

{'name': 'oluwaseyi', 'role': 'father'}
{'name': 'damilola', 'role': 'mother'}
{'name': 'omolara', 'role': 'grandma'}

In [ ]:
for x, y in profile1.items():
  print(x)
  print(y)

name
oluwaseyi
role
['father', 'playful', 'loving']

In [ ]:
family1 = {'mum', 'damilola', 'age', 31, 'occupation', 'auditor', 22, 'mum'}

In [ ]:
family1

{22, 31, 'age', 'auditor', 'damilola', 'mum', 'occupation'}

In [ ]:
type(family1)

set

In [ ]:
type(family)

dict

In [ ]:
seti= ['oluwanifemi', 'darreylyn', 47, 'female', 47]

In [ ]:
type(seti)

list

In [ ]:
seti= set(seti)

In [ ]:
seti

{47, 'darreylyn', 'female', 'oluwanifemi'}

In [ ]:
seti.add(100)

In [ ]:
seti

{100, 47, 'darreylyn', 'female', 'oluwanifemi'}

In [ ]:
type(seti)

set

In [ ]:
seti.update([10,20,'daughter'])

In [ ]:
seti

{10, 100, 20, 47, 'darreylyn', 'daughter', 'female', 'oluwanifemi'}

In [ ]:
seti.update(('vaccination', '15th sept'))

In [ ]:
seti

{10,
 100,
 '15th sept',
 20,
 47,
 'darreylyn',
 'daughter',
 'female',
 'oluwanifemi',
 'vaccination'}

In [ ]:
seti.pop()

'15th sept'

In [ ]:
seti

{10,
 100,
 20,
 47,
 'darreylyn',
 'daughter',
 'female',
 'oluwanifemi',
 'vaccination'}

### Set Union

In [ ]:
set1 = {10,102,28,28,10}
set2= {37,28,29,30,30,1}

In [ ]:
set3= set1.union(set2)

In [ ]:
set3

{1, 10, 28, 29, 30, 37, 102}

In [ ]:
set4= set1.intersection(set2)
set4

{28}

In [ ]:
nested_d= {"k1":  10,
           "k2": 'stringy',
           "k3": [1,2,3],
           "k4": {'insider': [20,30,40, {'keyinside': [60,20,'thirty']}]}
           }

In [ ]:
nested_d["k4"]['insider'][3]['keyinside'][:3]

[60, 20, 'thirty']

### Useing Input Function

In [ ]:
FAQs = 'what team do you support, ' '\ntell us '


answer= input(FAQs)
print(f"\ncome on you, {answer}")

what team do you support,
tell us Arsenal

come on you, Arsenal

In [ ]:
livescores= input('select your team')
print(livescores)

select your teamarsenal
arsenal

In [ ]:
FAQ = 'what team do you support'
FAQ+='\ntell us'


answer= input(FAQ)
print(f"\ncome on you {answer}")

what team do you support
tell usarsenal

come on you arsenal

### Working with numbers

In [ ]:
age= input('how old are you? ')
age= int(age)

how old are you? 31

In [ ]:
age > 20

True

In [ ]:
print(f"I will be {age + 1}, next year")

I will be 32, next year

### Modulo

In [ ]:
25//5

5

### Modulo logic

In [ ]:
nomba= input('type a number and i will confirm if it is even or odd')
nomba= int(nomba)

if nomba % 2 == 0:
  print(f"{nomba} is an even number")
else:
  print(f"{nomba} is an odd number")

type a number and i will confirm if it is even or odd17
17 is an odd number

##### Modulo and while loop

In [ ]:
nombar= 1
while nombar <=5:
  print(nombar)
  nombar += 1

1
2
3
4
5

In [ ]:
statement= "\nSay a word, and I will repeat back you " "\nType 'quit' to end the program "

message= ""
while message != 'quit':
  message= input(statement)
  print(message)

Say a word, and I will repeat back you
Type 'quit' to end the program hi
hi

Say a word, and I will repeat back you
Type 'quit' to end the program hello
hello

Say a word, and I will repeat back you
Type 'quit' to end the program quit
quit

### Function

In [ ]:
def greet_user():
  print('Hello')

In [ ]:
greet_user()

Hello

In [ ]:
def greet_visitor():
  """visitor greetings"""
  print("welcome here")

In [ ]:
greet_visitor()

welcome here

#### Arguments and parenthesis

In [ ]:
def greet_user(name):
  """user greetings"""
  print(f"welcome on board, {name}")

In [ ]:
greet_user('nifemi')

welcome on board, nifemi

In [ ]:
def greet_visitor(name):
  """visitor greetings"""
  print(f"welcome on board, {name.title()}")

In [ ]:
greet_visitor("darrelyn")

welcome on board, Darrelyn

In [ ]:
# Positional Argument
def user_profile(name,gender):
  """user profile"""
  print(f"my name is {name.title()}")
  print(f"\nI am a {gender}")

In [ ]:
user_profile('Oluanifemi', 'girl')

my name is Oluanifemi

I am a girl

In [ ]:
# Return Value
def user_profile(name,gender):
  """user profile"""
  profile= f"my name is {name.title()} and I am a {gender}"
  return profile

In [ ]:
user_profile('Oluanifemi', 'girl')

'my name is Oluanifemi and I am a girl'

In [ ]:
#List in functions
def family_quotes(name,word):
  for name in name:
    print(f"{word}, {name.title()}")
name=['oluwanifemi', 'darrelyn', 'aderinsola']
word= 'you are the best'

In [ ]:
family_quotes(name, word)

you are the best, Oluwanifemi
you are the best, Darrelyn
you are the best, Aderinsola

In [ ]:
# List in Function2
def family_quotes(names):
    for name in names:
      message= f"I love you, {name.title()}"
      print(message)

In [ ]:
quotes= ['oluwanifemi', 'darrelyn', 'aderinsola']
family_quotes(quotes)

I love you, Oluwanifemi
I love you, Darrelyn
I love you, Aderinsola

In [ ]:
family_quotes('oluwanifemi',"darrelyn", 'aderinsola')

I love you, Oluwanifemi
I love you, Darrelyn
I love you, Aderinsola

###Functions and Dictionary

In [ ]:
def profiles(first,
             last,
             **info):
  info['first_name']= first
  info['last_name']= last
  return info

In [ ]:
profiles('oluwanifemi','adebayo', job= 'auditor/banker', location= 'abuja')

{'job': 'auditor/banker',
 'location': 'abuja',
 'first_name': 'oluwanifemi',
 'last_name': 'adebayo'}

In [ ]:
# Function and dictionary 2
def profiles_explicit(first, last, age, occupation):
  """Build a dictionary about a user with explicit parameters."""
  user_info = {
      'first_name': first,
      'last_name': last,
      'age': age,
      'occupation': occupation,
  }
  return user_info

In [ ]:
profiles_explicit.items()

AttributeError: 'function' object has no attribute 'items'

In [ ]:
# Call the function with all the required arguments
user_profile_explicit = profiles_explicit('Jane', 'Smith', 25, 'Data Scientist')

# Print the resulting dictionary
print(user_profile_explicit)

{'first_name': 'Jane', 'last_name': 'Smith', 'age': 25, 'occupation': 'Data Scientist'}

In [ ]:
user_age= list(range(18,25))
print(user_age)
for x in user_age:
  if x % 2 == 0:
    print(x)

[18, 19, 20, 21, 22, 23, 24]
18
20
22
24

In [ ]:
x= {1,2,3}

In [ ]:
y= {3,4,5}

In [ ]:
print(x&y)

TypeError: unsupported operand type(s) for &: 'int' and 'set'

In [ ]:
def mystery(x):
  if x == 0:
    return 0
  else:
    return x + mystery(x-1)

print(mystery(3))

6

In [ ]:
nums = [[1, 2,3], (4,5)]

print(nums[1][1])

5

In [ ]:
x = (1, [2, 3], 4)

In [ ]:
x[1].append(5)
print(x)

(1, [2, 3, 5], 4)

In [ ]:
def f(x, y=2):
    return x * y

print(f(3))

6

In [ ]:
def update_dict(d, key, value):
  if key in d:
    d[key].append(value)
  else:
    d[key] = [value]
  return d

data = {}

print(update_dict(data, "a", 1))
print(update_dict(data, "a", 2))

{'a': [1]}
{'a': [1, 2]}

In [ ]:
def mystery_func(x, s=set()):
    s.add(x)
    return s

print(mystery_func(1))
print(mystery_func(2))
print(mystery_func(3))

{1}
{1, 2}
{1, 2, 3}

In [ ]:
def roll_dice():
    # Generate random numbers for two dice
    die1 = random.randint(1, 6)
    die2 = random.randint(1, 6)
    return die1, die2

def main():
    print("Welcome to the Dice Rolling Game!")
    while True:
        # Roll the dice
        die1, die2 = roll_dice()
        print(f"\nYou rolled: Die #1 = {die1}, Die #2 = {die2}")

        # Ask user if they want to continue
        user_input = input("Would you like to roll again? (yes/no): ").strip().lower()
        while user_input not in ['yes', 'no']:
            user_input = input("Please enter 'yes' or 'no': ").strip().lower()
        if user_input == 'no':
            print("Thank you for playing! Goodbye.")
            break

if __name__ == "__main__":
    main()

Welcome to the Dice Rolling Game!

You rolled: Die #1 = 2, Die #2 = 3
Would you like to roll again? (yes/no): 5
Please enter 'yes' or 'no': 6
Please enter 'yes' or 'no': NO
Thank you for playing! Goodbye.

In [ ]:
import random

def roll_dice():
    # Simulate rolling two dice
    die1 = random.randint(1, 6)
    die2 = random.randint(1, 6)
    print(f"\nYou rolled:\n - Dice #1: {die1}\n - Dice #2: {die2}")
    print(f"Total: {die1 + die2}")

def main():
    print(" Welcome to the Dice Rolling Game! ")

    while True:
        input("\nPress Enter to roll the dice... ")
        roll_dice()

        # Ask if the user wants to play again
        play_again = input("\nWould you like to roll again? (yes/no): ").strip().lower()
        if play_again not in ['yes', 'y']:
            print("\nThanks for playing! Goodbye!")
            break

if __name__ == "__main__":
    main()

 Welcome to the Dice Rolling Game!

Press Enter to roll the dice... 6

You rolled:
 - Dice #1: 4
 - Dice #2: 1
Total: 5

Would you like to roll again? (yes/no): NO

Thanks for playing! Goodbye!

In [ ]:
# Initialize an empty list to store numbers
numbers = []

while True:
    user_input = input("Pick a lucky number (or enter 'e' to exit): ")

    if user_input.lower() == 'e':
        break

    try:
        num = float(user_input)  # Use float to allow decimals too
        numbers.append(num)
    except ValueError:
        print("Invalid input! Please enter a number or 'e' to exit.")

# Calculate and print average if numbers were entered
if numbers:
    average = sum(numbers) / len(numbers)
    print(f"\nAverage of entered numbers: {average}")
else:
    print("\nNo numbers were entered.")

Pick a lucky number (or enter 'e' to exit): 10
Pick a lucky number (or enter 'e' to exit): e

Average of entered numbers: 10.0

##EXTRA CURRICULAR- ALEX TUTORIALS

In [ ]:
oluwaseyi,oluwadamilola,oluwanifemi= age=[ 31,31,1]
print(oluwaseyi)
print(oluwadamilola)
print(oluwanifemi)

31
31
1

###Naming Variable

In [ ]:
#Camel case
testVariableCase= 'hello'
#Pascal Case
TestVariableCase= 'hello'
#Snake Case
test_variable_case= 'hello'

###Operator with variable

In [ ]:
y= 'my name '
x= 'is'
z= ' oluwanifemi '
print(y+x+z)

my name is oluwanifemi

In [ ]:
a= -102
b= 209
c= 301
print(a+b+c)

408

In [ ]:
#absolute sum
print(abs(a+b+c))

408

In [ ]:
print(abs(a) + abs(b) + abs(c))

612

In [ ]:
testi= 1,20,-23
print(sum(testi))

-2

In [ ]:
print(abs(sum(testi)))

2

In [ ]:
#Multiline strings
my_thoughts= """i just want to be alright
do the work i have "passion" for,
without deadlines or targets that are not dependent on me."""

In [ ]:
print(my_thoughts)

i just want to be alright
do the work i have "passion" for,
without deadlines or targets that are not dependent on me.

In [ ]:
a= "I am sorry\n"

In [ ]:
print(a*3)

I am sorry
I am sorry
I am sorry

In [ ]:
a + a

'I am sorry\nI am sorry\n'

#Sets

y=[1,2,32,12,23,23,45,23,4,5,2,4556,42]

In [ ]:
y=[1,2,32,12,23,23,45,23,4,5,2,4556,42]

In [ ]:
print(y)

[1, 2, 32, 12, 23, 23, 45, 23, 4, 5, 2, 4556, 42]

In [ ]:
#convert list to set
z= set(y)

In [ ]:
# Print the set z (unique elements from list y)
print(z)

{32, 1, 2, 4, 5, 42, 12, 45, 4556, 23}

In [ ]:
w= {12,3,35,546,78,12,45,6,1,2,33332,32,12}

In [ ]:
# Calculate and print the union of sets z and w
# The union (|) includes all unique elements from both sets.
print(z|w)

{1, 2, 3, 4, 5, 6, 12, 4556, 78, 23, 32, 546, 35, 42, 45, 33332}

In [ ]:
# Calculate and print the difference between set z and set w
# The difference (-) includes elements in z that are not in w.
print(z-w)

{4, 5, 42, 4556, 23}

In [ ]:
# Calculate and print the symmetric difference between sets z and w
# The symmetric difference (^) includes elements in either set, but not in both.
print(z^w)

{546, 35, 3, 4, 6, 5, 42, 4556, 78, 33332, 23}

In [ ]:
# Calculate and print the intersection of sets z and w
# The intersection (&) includes only the elements common to both sets.
print(z&w)

{32, 1, 2, 12, 45}

###Dictionary
key/value pair

In [ ]:
family_age={"mum":31, "dad":31, "grandma":55, "baby": 1}

In [ ]:
print(family_age)

{'mum': 31, 'dad': 31, 'grandma': 55, 'baby': 1}

In [ ]:
print(family_age.items())

dict_items([('mum', 31), ('dad', 31), ('grandma', 55), ('baby', 1)])

In [ ]:
print(family_age.keys())

dict_keys(['mum', 'dad', 'grandma', 'baby'])

In [ ]:
family_age["grandma"]= 56

In [ ]:
family_age

{'mum': 31, 'dad': 31, 'grandma': 56, 'baby': 1}

In [ ]:
family_age.update({"damilola":31, "oluwaseyi":31, "adebimpe":60, "nifemi":1})

In [ ]:
family_age

{'mum': 31,
 'dad': 31,
 'grandma': 56,
 'baby': 1,
 'damilola': 31,
 'oluwaseyi': 31,
 'adebimpe': 60,
 'nifemi': 1}

###Comparison Operator

In [ ]:
10==10

True

In [ ]:
10!=50

True

In [ ]:
10!="damilola"

True

###Logical operators

In [ ]:
(50.10) and (10>5)

True

In [ ]:
('a'>'b') or ('b'>'a')

True

###Membership Operator

In [ ]:
"love" in "i love you"

True

In [ ]:
6 not in (1,2,3,4,5,7,8)

True

###Loop

In [ ]:
#Loop in a list
figure=[1,2,3,4,5,6]
print(figure)

[1, 2, 3, 4, 5, 6]

In [ ]:
for figure in figure:
  print(figure+figure)

2
4
6
8
10
12

In [ ]:
#Loop in a dictionary
fav_food={"daddy": "beans", "mummy": "rice", "grandma":"amala", "nifemi":"breast milk"}
print(fav_food)

{'daddy': 'beans', 'mummy': 'rice', 'grandma': 'amala', 'nifemi': 'breast milk'}

In [ ]:
for x in fav_food:
  print(x)

daddy
mummy
grandma
nifemi

In [ ]:
for food in fav_food.values():
  print(food)

beans
rice
amala
breast milk

In [ ]:
for members in fav_food.keys():
  print(members)

daddy
mummy
grandma
nifemi

In [ ]:
for key,value in fav_food.items():
  print(key, "->",value)

daddy -> beans
mummy -> rice
grandma -> amala
nifemi -> breast milk

###Nested foor loop

In [ ]:
swallow= ["amala", "eba", "semo"]
soup= ["egusi", "ila alasepo", "efo riro"]
for okele in swallow:
  for obe in soup:
    print(okele, "topped with", obe)
  print("\n")

amala topped with egusi
amala topped with ila alasepo
amala topped with efo riro


eba topped with egusi
eba topped with ila alasepo
eba topped with efo riro


semo topped with egusi
semo topped with ila alasepo
semo topped with efo riro

###While loops

In [ ]:
number = 0

while number < 5:
  print(number)
  number = number + 1

0
1
2
3
4

In [ ]:
number = 0

while number <= 7:
  print(number)
  if number == 6:
    break
  number = number + 1

0
1
2
3
4
5
6

In [ ]:
number = 0

while number <= 7:
  print(number)
  if number == 6:
    break
  number = number + 1
else:
  print("number is greater than 6")

In [ ]:
digits= 0
while digits <=6:
  print(digits)
  digits = digits+ 1

0
1
2
3
4
5
6

In [ ]:
digits= 0

while digits <6:
  print(digits)
  if digits == 3:
    break
  digits += 1
else:
  print("digits greater than 3")

0
1
2
3

In [ ]:
digits= 0
while digits <=6:
  print(digits)

  if digits == 3:
    break
  else:
      print("Not yet 3, continuing...")
  digits = digits+ 1

0
Not yet 3, continuing...
1
Not yet 3, continuing...
2
Not yet 3, continuing...
3

In [ ]:
digits= 0

while digits < 6:
  print(digits)
  if digits == 3:
    break
  digits += 1
else:
  print("digits greater than 3")

0
1
2
3

In [ ]:
number = 0

while number < 5:
  print(number)
  if number == 3:
    break
  number = number + 1

0
1
2
3

In [ ]:
number = 0

while number < 5:
  print(number)
  if number == 2:
    print("number is 2")
    break
  number = number + 1
else:
  print("number is greater than 4")

0
1
2
number is 2

###Functions

In [ ]:
def my_house():
  print("peaceful &  blessed")

In [ ]:
my_house()

peaceful &  blessed

In [ ]:
def age_next_year(age):
  print(age + 1)

In [ ]:
age_next_year(31)

32

In [ ]:
#Double input
def commisson(loan_disbursement,percentage):
  print(loan_disbursement*percentage)

In [ ]:
commisson(2000000.00,0.05)

100000.0

In [10]:
#abitrary argument
def elements(*element):
  print(element[0]*element[4])
elements(6,7,5,3,8)

48

In [ ]:
elements(6,7,5,3,8)

48

In [ ]:
eli= (6,7,5,3,8)
def elements(*element):
  print(element[0]*element[4])

In [ ]:
elements(*eli)

48

In [ ]:
gift= {'sugar': 2, 'garri': 1, 'groundnut': 2}

In [ ]:
gift

{'sugar': 2, 'garri': 1, 'groundnut': 2}

In [ ]:
gift.values()

dict_values([2, 1, 2])

In [ ]:
gift.keys()

dict_keys(['sugar', 'garri', 'groundnut'])

In [ ]:
gift.items()

dict_items([('sugar', 2), ('garri', 1), ('groundnut', 2)])

In [ ]:
for value,key in gift.items():
  print(key, "->", value)

2 -> sugar
1 -> garri
2 -> groundnut

### Input fuinction

In [2]:
#Input function using BMI example
name= input('what is your name ')
weight= int(input('what is your weight in pounds '))
height= int(input('what is your height in inch '))
bmi= (weight*703)/(height*height)
print(bmi)
if bmi >= 25:
  print(f"{name}, you are overweight")
elif bmi >= 18.5:
    print(name +", you are normal weight")
else:
  print('error input')

what is your name jack
what is your weight in pounds 170
what is your height in inch 58
35.52615933412604
jack, you are overweight